/* CheckboxBox.module.css */
.checkboxContainer {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.scrollableBox {
  display: flex;
  flex-direction: column;
}

.checkboxItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.checkboxInput {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: lightgrey;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.checkboxInput:checked {
  background-color: #2180f4;
  border: 1px solid #2180f4;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  display: none;
}

.checkboxInput:checked + .checkmark {
  display: block;
  background-color: white;
  border-radius: 2px;
}

.checkboxLabel {
  color: black; /* Set label color to black */
}
